# GitHub CODEOWNERS File
#
# For format description please refere to:
#
#        https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

* joerg.roedel@amd.com
* clopez@suse.de
